<p id="notice"><%= notice %></p>

<h1>Generate Bill</h1>
<%= simple_form_for(@medicine) do |f| %>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Quantity</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class='fields'>
  <%= f.simple_fields_for :medicines do |builder| %>
    <%= render 'medicine', f: builder %>
  <% end %>
  </tbody>
</table>
<div id="add-item">
    <%= link_to_add_row('Add Item', f, :medicines, class: 'btn btn-primary') %>
</div>

<% end %>