<p id="notice"><%= notice %></p>

<h1>Addstocks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Quantity</th>
      <th>Manufacturer date</th>
      <th>Expiry date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addstocks.each do |addstock| %>
      <tr>
        <td><%= addstock.medicine.name %></td>
        <td><%= addstock.cost %></td>
        <td><%= addstock.quantity %></td>
        <td><%= addstock.manufacturer_date %></td>
        <td><%= addstock.expiry_date %></td>
        <td><%= link_to 'Show', addstock %></td>
        <td><%= link_to 'Edit', edit_addstock_path(addstock) %></td>
        <td><%= link_to 'Destroy', addstock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Addstock', new_addstock_path %>
